/* ======= ESTILOS BASE (Post-normalize.css) ======= */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('/static/imgs/limpieza2.jpeg');
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  overflow: hidden;
  /* Evita scroll global */
}

/* ======= HEADER Y NAVEGACIÓN ======= */
header {
  background-color: #F28A7A;
  color: white;
  padding: 10px 20px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 100px;
  height: auto;
  display: block;
}

.nav-right button {
  background-color: #E5402F;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-right button:hover {
  background-color: #C00000;
}

.container {
  width: 60%;
  margin: 20px auto;
  overflow: visible; /* por defecto sin scroll */
  max-height: none;  /* sin límite de altura */
}


table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #000000;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #F28A7A;
  color: white;
}

th:hover {
  background-color: #C00000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


/*Boton para buscar en el filtro */
#btnfiltro {
  background-color: #E5402F;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

#btnfiltro:hover{
  background-color: #C00000;
}



/* En móviles: scroll vertical y horizontal */
@media (max-width: 768px) {
  .container {
    width: 95%;
    max-height: 300px;  /* límite de altura para scroll vertical */
    overflow-y: auto;   /* scroll vertical */
    overflow-x: auto;   /* scroll horizontal */
  }
}

/* En pantallas grandes: scroll también activo con mayor altura */
@media (min-width: 1024px) {
  .container {
    width: 60%;
    max-height: 400px;  /* límite de altura para scroll vertical */
    overflow-y: auto;
    overflow-x: auto;
  }
}